

// -------------------------------------
//   Susy Grid settings
// -------------------------------------

$show-grid-backgrounds  : true;
// phone
$container-style: fixed;
$total-columns: 4;
$column-width: 60px; //欄位寬度  
$gutter-width: 20px; //欄位與欄位間的間距  
$grid-padding: 10px; //格線最外圍左右邊的間距  
// Breakpoints
$phone: 4 568px; 
$tablet: 569px 8 1024px;// Page width: 300 px
$desktop: 1024px 12 fixed-layout;//超過1024


