// *************************************
//
//   Base
//   -> Base-level tags (body, p, etc.)
//   -> Typography
//
// *************************************


// -------------------------------------
//   Base-level 
// -------------------------------------
// * {
//   -webkit-box-sizing: border-box;
//      -moz-box-sizing: border-box;
//           box-sizing: border-box;
// }

body, select, input, textarea {
  color: $c-text;
}

body {
  font-size: 100%;
  background-color: #fff;
}

// -------------------------------------
//   Block Content
// -------------------------------------

ul, ol, p, table {
  @include font-size(16.5); // han.css hack
  margin-bottom: $b-space;
  margin-top: 0;
}

li {
  // margin-bottom: $b-space-s;
  margin-top: 0;
}

// ----- Headers ----- //

h1, .h1,
h2, .h2,
h3, .h3,
h4, .h4 {
  font-family: $b-fontFamily-heading;
  font-weight: bold;
  line-height: 2;
  margin-bottom: $b-space-xs;
  margin-top: 0;
}

// -------------------------------------
//   Inline Content
// -------------------------------------

img {
    max-width: 100%; // Add !important if needed. //
    height: auto;    // Add !important if needed. //
}

a {
  @include link-colors($c-link, $c-link-hover, $c-link-active, $c-link-visited, $c-link-focus);
    text-decoration:    none;
    -webkit-transition: color .3s ease-in-out;
    transition:         color .3s ease-in-out;
}


// -------------------------------------
//   Typography
// -------------------------------------

.text-important {
  color: $c-important;
}