// *************************************
//
//   Base
//   -> Base-level tags (body, p, etc.)
//   -> Typography
//
// *************************************

// -------------------------------------
//   Base-level 
// -------------------------------------
body, select, input, textarea { //from h5bp
	color: $font-color;
	font-family: $font-family;
}

img {
  	max-width: 100%; // Add !important if needed. //
  	height: auto;    // Add !important if needed. //
}

a {
	@include link-colors($link-color, $link-hover-color, $link-active-color, $link-visited-color, $link-focus-color);
    text-decoration:    none;
    -webkit-transition: color .3s ease-in-out;
    transition:         color .3s ease-in-out;
}

// -------------------------------------
//   Headings
// -------------------------------------

h1,h2,h3,h4,h5,h6 {
	color: $heading-color;
}


// -------------------------------------
//   page typo
// -------------------------------------


// -------------------------------------
//   other(欸)
// -------------------------------------

.text-important {
	margin-right: 3px;
	margin-left: 3px;
	font-weight: bold;
	color: #e6263f;
}
