// *************************************
//
//   Content
//   -> Typography
//
// *************************************

// -------------------------------------
//   Headings
// -------------------------------------

h1,h2 {
	text-align: center;
}


// -------------------------------------
//   other(欸)
// -------------------------------------

.text-important {
	margin-right: 3px;
	margin-left: 3px;
	font-weight: bold;
	color: #e6263f;
}
