// *************************************
//
//   Settings
//   -> Fonts, Variables
//
// *************************************

// -------------------------------------
//   Fonts-size,face for font-size.scss etc
// -------------------------------------

$font-size: 1rem;
$base-font-size: 16px;
$line-height: 1.75 ;
$base-line-height: 28px;

$font-family: Arial, Helvetica, 'LiHei Pro', '微軟正黑體', '新細明體', sans-serif;



// -------------------------------------
//   Fonts-color
// -------------------------------------


$font-color: #111111;
$link-color: #8C6645;
$link-hover-color: darken($link-color, 31);
$link-visited-color: darken($link-color, 21);
$link-active-color: adjust_hue($link-color, 12);
$link-focus-color: $link-hover-color;

$selected-font-color: #fff;
$selected-background-color: #0086AB;

$invalid-background-color: #f0dddd;
