// *************************************
//
//   Settings
//   -> Fonts, Variables
//
// *************************************

// -------------------------------------
//   Fonts
// -------------------------------------

$font-size: 1rem;
$base-font-size: 16px;
$line-height: 1.75 !default;
$base-line-height: 28px;

$font-color: $aqua !default;
$font-family: Arial, Helvetica, 'LiHei Pro', '微軟正黑體', '新細明體', sans-serif !default;

$link-color: #0074D9 !default;
$link-hover-color: darken(#7FDBFF, 58) !default;
$link-visited-color: darken(#B10DC9, 21) !default;
$link-active-color: adjust_hue(#FF851B, 259) !default;
$link-focus-color: $link-hover-color !default;

$selected-font-color: #fff !default;
$selected-background-color: #0086AB !default;

$invalid-background-color: #f0dddd !default;



