// *************************************
//
//   Helpers
//   -> Extends, Functions, Mixins, Animations ,other
//
// *************************************

//-------------------------------------
//  extends
//-------------------------------------

%imgC {
	text-align: center;
	display: block;
	margin-right: auto;
	margin-left: auto;
}

%tC {
	text-align: center;
}

// -------------------------------------
//   functions
// -------------------------------------

// 輸入rem轉px＆rem
@import "helpers/remCalc";

// 輸入 px 轉 rem
@import "helpers/pxtorem";



// -------------------------------------
//   mixins
// -------------------------------------


// 專門給UL用的卡片排序區塊
@import "helpers/card-block";

// 定義字體大小與行距，輸入px轉rem
@import "helpers/font-size";

// 垂直置中
@import "helpers/vertical-align";

// 把圖片做成input按鈕，支援hover
@import "helpers/pic-button";



// -------------------------------------
//   other
// -------------------------------------

// 拯救部份一般方法下pie無效時使用
@import "helpers/pie-hack";
