// *************************************
//
//   index
//
// *************************************


// -------------------------------------
//   header
// -------------------------------------

header {
	border-top: 8px #0778CD solid;
	background: url('../images/bg_header_wf.png') center center;
	background-size: cover;
	font-family: 'Raleway', sans-serif;
	.name {
		@include font-size(72px);
	  @extend %tC;
		margin-top: 218px;
		font-family: 'Raleway', sans-serif;
		font-weight: bold;
	}
	.main-nav {
	  @extend %tC;
	  @include inline-block-list;
  	margin: 0;
  	padding: 0;
  	@include font-size(18px);
  	a:hover {
  		text-decoration: underline;
  	}
  	li {
  		&:after {
  			content: "｜";
  		}
  		&:last-of-type {
	  		&:after {
	  			content: "";
	  		}
  		}
  	}
	}
	.skill-list {
	  @extend %tC;
	  @include inline-block-list;
		margin-top: 88px;
		margin-bottom: 83px;
  	padding: 0;
	}
  	.skill-item {
  		margin-right: 58px;
  		&:last-of-type {
  			margin-right: 0;
  		}
  		.skill-img {
  			border: #979797 1px solid;
  			border-radius: 102px;
  		}
  		.skill-name {
  			display: block;
  			@include font-size(24px);
  			margin-top: 24px;
  		}

  	}
	&:after {
		content: "";
		background: linear-gradient(to bottom, rgba(0,0,0,0) 0%,rgba(156,156,156,0) 75%,rgba(208,208,208,1) 100%); /* W3C */		display: block;
		height: 26px;
	}
}

// -------------------------------------
//   container
// -------------------------------------

.container {
	background-color: #fff;
	padding: 30px 60px 30px 60px;
}
	.mod-works {
		.works-title {
  			@include font-size(32px);
  			line-height: 1;
				margin-top: 32px;
  			margin-bottom: 14px;
		}
		.works-content {
  			@include font-size(24px);
  			color: #666666;
		}
		margin-bottom: 48px;
	}

// -------------------------------------
//   footer
// -------------------------------------
footer {
	@extend %tC;
	background-color: #fff;
	margin-bottom: 16px;
	.slogan {
		display: inline-block;
		margin-right: 20px;
	}
}

address {
	display: inline-block;
	font-style: normal;
	@include font-size(18px);
}