// *************************************
//
//   index
//
// *************************************


// -------------------------------------
//   header
// -------------------------------------

header {
	border-top: 8px #0778CD solid;
	background: url('../images/bg_header_wf.png') center center;
	background-size: cover;
	font-family: 'Raleway', sans-serif;
	.name {
		@include font-size(72px);
	  @extend %tC;
		margin-top: 218px;
		font-family: 'Raleway', sans-serif;
		font-weight: bold;
	}
	.main-nav {
	  @extend %tC;
	  @include inline-block-list;
  	margin: 0;
  	padding: 0;
  	@include font-size(18px);
  	a:hover {
  		text-decoration: underline;
  	}
  	li {
  		&:after {
  			content: "｜";
  		}
  		&:last-of-type {
	  		&:after {
	  			content: "";
	  		}
  		}
  	}
	}
	.skill-list {
	  @extend %tC;
	  @include inline-block-list;
		margin-top: 88px;
		margin-bottom: 83px;
  	padding: 0;
	}
  	.skill-item {
  		margin-right: 58px;
  		&:last-of-type {
  			margin-right: 0;
  		}
  		.skill-img {
  			border: #979797 1px solid;
  			border-radius: 102px;
  		}
  		.skill-name {
  			display: block;
  			@include font-size(24px);
  			margin-top: 24px;
  		}

  	}
	&:after {
		content: "";
		background: linear-gradient(to bottom, rgba(0,0,0,0) 0%,rgba(156,156,156,0) 75%,rgba(208,208,208,1) 100%); /* W3C */		display: block;
		height: 26px;
	}
}

// -------------------------------------
//   container
// -------------------------------------

.container {
	background-color: #fff;
	padding: 30px 60px 30px 60px;
}
	.mod-works {
		margin-bottom: 48px;
		.works-slideshow img {
			border: solid #979797 1px;
		}
		.works-title {
  			@include font-size(32px);
  			line-height: 1;
				margin-top: 24px;
  			margin-bottom: 14px;
		}
		.works-content {
  			@include font-size(24px);
  			color: #666666;
		}
	}


// -------------------------------------
//   Slideshow
// -----------------------------------


.works-slideshow { width: 100%; position: relative; @extend %clearfix; }

.slider { @include no-bullet; position: relative; margin: 0; padding: 0; }

.slider img { min-width: 100%; }

.slider > .slide { display: none; }

.slider > .active-slide { display: block; }

.works-slideshow .arrow-prev ,.works-slideshow .arrow-next { 
	position: absolute; 
	top: 50%; 
	-webkit-transform: translateY(-50%); 
	transform: translateY(-50%); 
	font-size: 3rem; 
	text-decoration: none; 
	color: #fff; 
	@include bg-rgba(#000,0.7); 
	cursor: pointer; 
	padding: 10px 20px 10px 20px;
	border-radius: 6px;
}
.works-slideshow .arrow-prev { left: 10px; } 
.works-slideshow .arrow-next { right: 10px; }

// -------------------------------------
//   footer
// -------------------------------------
footer {
	@extend %tC;
	background-color: #fff;
	margin-bottom: 16px;
	.slogan {
		color: #f3f3f3;
		display: inline-block;
		margin-right: 20px;
	}
}

address {
	display: inline-block;
	font-style: normal;
	@include font-size(18px);
}