// *************************************
//
//   Layout
//   -> Config, Grid
//
// *************************************

// -------------------------------------
//   Config
// -------------------------------------


$show-grid-backgrounds: hide; // 選項：show、hide、show-columns、show-baseline

// gutter-position 說明
// before：推左邊界(margin-left)
// after ：推右邊界，同susy1(margin-right)
// split ：左右邊界推gutter的一半，同960grid
// inside：推欄的左右內距(padding-left、padding-right)
// inside-static ：用inside會用%來推padding，這則是以單位來推，例：px、em，看你的column-width是用什麼單位



$susy: (
  math: fluid,
  container: auto, // container最大寬度。預設auto，依照columns與gutters設定自動算出數值
  columns: 12, // 預設是四欄
  gutters: 12px/60px, // 欄位與欄位間的間距，單位是和columns的比例％，預設1/4
  gutter-position: after , // 每欄之間顯示模式，看上面
  column-width: false, // 欄位寬度，預設是false（因為都是用比例去算）
  global-box-sizing: border-box, // 搭配 border-box-sizing mixin 使用，沒開不能用
  last-flow: to, // gutter-position設定成after或before的話，可能有機會會改到這個設定

  debug: (
    image: $show-grid-backgrounds,
  ),
  use-custom: (
    background-image: true, // for debugging
    background-options: false, // for debugging
    clearfix: true, // 是否要自動抓取compass預設的clearfix的mixin
  )
);

//新增Grid的Sass Map
$works:(
  gutters:12px/187px,
  columns: 6,
  gutter-position: split,
  image: $show-grid-backgrounds
);

// -------------------------------------
//   Grid
// -------------------------------------
.page {
  @include container;
  @include border-box-sizing;
  // padding: 0 20px;
}

@include with-layout($works){
    .mod-works{
        @include container;
        max-width: 1182px;
    }
}


// --- 主要頁面區塊 --- //


header, .container, footer {
  width: 100%;
}

