@import "compass/css3";
@import "compass/typography/links";

//-----------------------------------------------
// The following html5-boilerplate styles should
// probably be customized for each site
//-----------------------------------------------
body, select, input, textarea {
	color: $font-color;
	font-family: $font-family;
	
}

img {
  	max-width: 100%; // Add !important if needed. //
  	height: auto;    // Add !important if needed. //
}

a {
	@include link-colors($link-color, $link-hover-color, $link-active-color, $link-visited-color, $link-focus-color);
    text-decoration:    none;
    -webkit-transition: color .3s ease-in-out;
    transition:         color .3s ease-in-out;
}
