// *************************************
//
//   Index 
//
// *************************************

// -------------------------------------
//   0.common
// -------------------------------------

.section {
	padding: 50px;

	&:nth-of-type(odd) {
	  background-color: darken(#FFFDEF, 10);
	}

	&:nth-of-type(even) {
	  background-color: #FFFDEF;
	}
}


.messages {
	text-align: center;
	margin-bottom: 30px;
}

// -------------------------------------
//   1.intro
// -------------------------------------

.intro {
	background: url(../images/bg_top.jpg) repeat fixed;
	padding-top: 20px;

	.maps {
		.map-item {
			@include span-columns(3, 12);
			@include nth-omega(4n);
			width: 220px;
			height: 220px;
			margin-bottom: 20px;
			position: relative;
		}
			.card {
				position: absolute;
				width: 220px;
				height: 220px;
			}
				.card-back {
					@include bg-rgba(#fff, 0.9);
					text-align: center; // 置中 button(inline-block)
					display: none;
					.map-info {
						font-size: 70%;
					}
					.button {
						padding: 0 10px;
						font-size: 70%;
					}
				}

		.map-item:hover { // 移上去卡片時出現
			.card-back {
				display: block;
			}
		}

	}

}


// -------------------------------------
//   2.tw-sales
// -------------------------------------

.tw-sales {
	.tw-sales-point {
		@include pre(2);
		@include span-columns(8,12);
		margin-bottom: 20px;
	}

	h3 {
		color: darken(#26B234, 20);
	}

	.more {
		width: 150px;
		padding: 5px;
		clear: both;
		@extend %imgC;
		color: #fff;
	}
}



// -------------------------------------
//   3.herolist
// -------------------------------------


.hero-list {
	table {
		margin: 30px auto 0 auto;
		@extend %normal-table;
	}
}



// -------------------------------------
//   4.info
// -------------------------------------

.info {
	.info-list {
		margin-top: 30px;
		@include pre(2);
		@include span-columns(8, 12);
		
		.info-item {
			@include span-columns(1,6);
			margin-left: 20px;
			@extend %imgC;
			p {
				width: 81px;
			}
		}
			// 按鈕組
			.info-item1 {
				@include  pic-button("btn-info-item-01",png,0,0,81px,81px);
			}
			.info-item2 {
				@include  pic-button("btn-info-item-02",png,0,0,81px,81px);
			}
			.info-item3 {
				@include  pic-button("btn-info-item-03",png,0,0,81px,81px);
			}
			.info-item4 {
				@include  pic-button("btn-info-item-04",png,0,0,81px,81px);
			}
			.info-item5 {
				@include  pic-button("btn-info-item-05",png,0,0,81px,81px);
			}
			.info-item6 {
				@include  pic-button("btn-info-item-06",png,0,0,81px,81px);
			}
	}
}


// -------------------------------------
//   5.recommendation
// -------------------------------------

.recommendation {
	.recomm-list {
		margin-top: 30px;
		@include pre(2);
		@include span-columns(8, 12);
		.recomm-item {
		  @include span-columns(4,8);
		  @include nth-omega(2n);

		  margin-bottom: 20px;
		}

			// 按鈕組
			.recomm-item1 {
				@include  pic-button("btn-recomm-01",jpg,0,0,300px,80px);
			}
			.recomm-item2 {
				@include  pic-button("btn-recomm-02",jpg,0,0,300px,80px);
			}
			.recomm-item3 {
				@include  pic-button("btn-recomm-03",jpg,0,0,300px,80px);
			}
			.recomm-item4 {
				@include  pic-button("btn-recomm-04",jpg,0,0,300px,80px);
			}
			.recomm-item5 {
				@include  pic-button("btn-recomm-05",jpg,0,0,300px,80px);
			}
			.recomm-item6 {
				@include  pic-button("btn-recomm-06",jpg,0,0,300px,80px);
			}
	}
}


// -------------------------------------
//   6.footer
// -------------------------------------
.footer {
	text-align: center;
	color: #009250;
}