// *************************************
//
//   Layout
//   -> Config, Grid
//
// *************************************

// -------------------------------------
//   Config
// -------------------------------------
$show-grid-backgrounds  : false;
// phone
$container-style: static;
$total-columns: 6;
$column-width: 150px; //欄位寬度  
$gutter-width: 20px; //欄位與欄位間的間距  
$grid-padding: 10px; //格線最外圍左右邊的間距  


// -------------------------------------
//   Grid
// -------------------------------------
.grid {
  @include container;
  @include susy-grid-background;
}

.header {

}

.content {

}

.footer {

}


// -------------------------------------
//   Utilities
// -------------------------------------



%l-block, .l-block {
	display: block;
}

%l-pullLeft, .l-pullLeft {
	float: left;
}
  

%l-pullRight, .l-pullRight {
	float: right;
}
  
%blockC ,.blockC {
	margin-right: auto;
	margin-left: auto;
}

%tC ,.tC {
	text-align: center;
}

