
.social-buttons {
    text-align: center;
    margin: 10px 0 0;
    padding: 0;
    @include inline-block-list;
}

  .social-buttons li {
      padding: 10px 5px;
      height: 30px
  }
  // facebook button fix
  .social-buttons li:nth-child(3) {
    padding-top: 2px;
  }