@charset "UTF-8";
@import url(http://fonts.googleapis.com/css?family=Raleway);
/*-------------------------------------
  Material Design typography
  http://codepen.io/zavoloklom/pen/IkaFL
  -------------------------------------*/
.table {
  width: 100%;
  max-width: 100%;
  margin-bottom: 2rem;
  background-color: #fff;
  border: 1px solid rgba(0, 0, 0, 0.32); }
  .table > thead > tr > th,
  .table > thead > tr > td,
  .table > tbody > tr > th,
  .table > tbody > tr > td,
  .table > tfoot > tr > th,
  .table > tfoot > tr > td {
    text-align: left;
    padding: 8px;
    vertical-align: top;
    border-top: 0; }
  .table > thead > tr > th {
    font-weight: bold;
    color: #757575;
    vertical-align: bottom;
    border-bottom: 1px solid rgba(0, 0, 0, 0.12); }
  .table > caption + thead > tr:first-child > th,
  .table > caption + thead > tr:first-child > td,
  .table > colgroup + thead > tr:first-child > th,
  .table > colgroup + thead > tr:first-child > td,
  .table > thead:first-child > tr:first-child > th,
  .table > thead:first-child > tr:first-child > td {
    border-top: 0; }
  .table > tbody + tbody {
    border-top: 1px solid rgba(0, 0, 0, 0.12); }
  .table .md-table {
    background-color: #fff; }
  .table .no-border {
    border: 0; }
  .table > tbody > tr:hover > td,
  .table > tbody > tr:hover > th {
    background-color: rgba(0, 0, 0, 0.12); }

/*! normalize.css v3.0.0 | MIT License | git.io/normalize */
/*! normalize.css v3.0.0 | HTML5 Display Definitions | MIT License | git.io/normalize */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section,
summary {
  display: block; }

audio,
canvas,
progress,
video {
  display: inline-block;
  vertical-align: baseline; }

audio:not([controls]) {
  display: none;
  height: 0; }

[hidden],
template {
  display: none; }

/*! normalize.css v3.0.0 | Base | MIT License | git.io/normalize */
html {
  font-family: sans-serif;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%; }

body {
  margin: 0; }

/*! normalize.css v3.0.0 | Links | MIT License | git.io/normalize */
a {
  background: transparent; }

a:active,
a:hover {
  outline: 0; }

/*! normalize.css v3.0.0 | Typography | MIT License | git.io/normalize */
abbr[title] {
  border-bottom: 1px dotted; }

b,
strong {
  font-weight: bold; }

dfn {
  font-style: italic; }

h1 {
  font-size: 2em;
  margin: 0.67em 0; }

mark {
  background: #ff0;
  color: #000; }

small {
  font-size: 80%; }

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  top: -0.5em; }

sub {
  bottom: -0.25em; }

/*! normalize.css v3.0.0 | Embedded Content | MIT License | git.io/normalize */
img {
  border: 0; }

svg:not(:root) {
  overflow: hidden; }

/*! normalize.css v3.0.0 | Figures | MIT License | git.io/normalize */
figure {
  margin: 1em 40px; }

hr {
  box-sizing: content-box;
  height: 0; }

pre {
  overflow: auto; }

code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  font-size: 1em; }

/*! normalize.css v3.0.0 | Forms | MIT License | git.io/normalize */
button,
input,
optgroup,
select,
textarea {
  color: inherit;
  font: inherit;
  margin: 0; }

button {
  overflow: visible; }

button,
select {
  text-transform: none; }

button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  cursor: pointer; }

button[disabled],
html input[disabled] {
  cursor: default; }

button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0; }

input {
  line-height: normal; }

input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  padding: 0; }

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  height: auto; }

input[type="search"] {
  -webkit-appearance: textfield;
  box-sizing: content-box; }

input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none; }

fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em; }

legend {
  border: 0;
  padding: 0; }

textarea {
  overflow: auto; }

optgroup {
  font-weight: bold; }

/*! normalize.css v3.0.0 | Tables | MIT License | git.io/normalize */
table {
  border-collapse: collapse;
  border-spacing: 0; }

td,
th {
  padding: 0; }

html {
  font-size: 100%;
  font-family: "Helvetica Neue", Arial, "Roboto", "Heiti TC", "Adobe 繁黑體 Std", "AdobeFanHeitiStd-Bold", "Source Han Sans TC", "Source Han Sans TC Regular", "Noto Sans CJK TC", "微軟正黑體", "Microsoft JhengHei", sans-serif;
  background-color: #fff; }

body, select, input, textarea {
  color: #111111; }

ul, ol, p, table {
  font-size: 16px;
  font-size: 1rem;
  line-height: 1.55;
  margin-bottom: 22.88px;
  margin-top: 0; }

li {
  margin-top: 0; }

img {
  max-width: 100%;
  height: auto; }

a {
  color: #787878;
  text-decoration: none;
  -webkit-transition: color .3s ease-in-out;
  transition: color .3s ease-in-out; }
  a:visited {
    color: #5e5e5e; }
  a:focus {
    color: #5e5e5e; }
  a:hover {
    color: #5e5e5e; }
  a:active {
    color: #787878; }

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Helvetica Neue", Arial, "Roboto", "Heiti TC", "Adobe 繁黑體 Std", "AdobeFanHeitiStd-Bold", "Source Han Sans TC", "Source Han Sans TC Regular", "Noto Sans CJK TC", "微軟正黑體", "Microsoft JhengHei", sans-serif;
  font-weight: 500;
  line-height: 1.47em;
  margin: 4px 0px 11.2px 0px;
  margin: 0.25rem 0rem 0.7rem 0rem; }

h1 {
  font-size: 4.2rem; }

h2 {
  font-size: 3.56rem; }

h3 {
  font-size: 2.92rem; }

h4 {
  font-size: 2.28rem; }

.text-important {
  color: #e51c23; }

.form, .works-slideshow {
  zoom: 1;
  /* IE < 8 */ }
  .form:before, .works-slideshow:before, .form:after, .works-slideshow:after {
    content: ".";
    display: block;
    height: 0;
    overflow: hidden; }
  .form:after, .works-slideshow:after {
    clear: both; }

.l-block {
  display: block; }

.l-none {
  display: none; }

.l-pullLeft {
  float: left; }

.l-pullRight {
  float: right; }

.blockC {
  margin-right: auto;
  margin-left: auto; }

.product-list .read-more, .table .colspan, header .name, header .main-nav, header .skill-list, footer, .tC {
  text-align: center; }

.tR {
  text-align: right; }

.col {
  display: block;
  float: left;
  margin: 1% 0 1% 1%; }

.col:first-child {
  margin-left: 0; }

.group:before,
.group:after {
  content: "";
  display: table; }

.group:after {
  clear: both; }

.group {
  zoom: 1; }

.span_12_of_12 {
  width: 100% !important; }

.span_11_of_12 {
  width: 91.53% !important; }

.span_10_of_12 {
  width: 83.06% !important; }

.span_9_of_12 {
  width: 74.6% !important; }

.span_8_of_12 {
  width: 66.13% !important; }

.span_7_of_12 {
  width: 57.66% !important; }

.span_6_of_12 {
  width: 49.2% !important; }

.span_5_of_12 {
  width: 40.73% !important; }

.span_4_of_12 {
  width: 32.26% !important; }

.span_3_of_12 {
  width: 23.8% !important; }

.span_2_of_12 {
  width: 15.33% !important; }

.span_1_of_12 {
  width: 6.866% !important; }

.container {
  overflow: hidden;
  *zoom: 1;
  max-width: 1440px;
  margin-left: auto;
  margin-right: auto;
  max-width: 1440px; }
  .container *, .container *:before, .container *:after {
    box-sizing: border-box; }

.mod-works {
  overflow: hidden;
  *zoom: 1;
  max-width: 1440px;
  margin-left: auto;
  margin-right: auto;
  max-width: 1182px; }

header, .container, footer {
  width: 100%; }

.title.title--headline {
  font-size: 36px;
  font-size: 2.25rem; }

.list-controller .product-value {
  color: #e51c23; }

.product-list {
  margin-top: 16px; }
  .product-list .mod-product {
    margin-bottom: 32px; }
  .product-list .read-more {
    width: 100%;
    padding-top: 12px;
    padding-bottom: 12px;
    background-color: #2196F3;
    border: 0px;
    display: block;
    font-weight: bold;
    color: #fff; }

.cart-list .mod-product {
  border-bottom: 1px solid #111111;
  padding-top: 16px;
  padding-bottom: 16px; }
  .cart-list .mod-product:first-of-type {
    padding-top: 0; }
  .cart-list .mod-product:last-of-type {
    border-bottom: 0px;
    padding-bottom: 0; }

.table {
  border-collapse: separate; }
  .table .colspan {
    background-color: #eee; }
  .table td {
    border-bottom: solid 1px rgba(0, 0, 0, 0.12); }

input, select, textarea {
  font-size: 1.5em;
  line-height: 1.5;
  margin-top: 8px;
  margin-bottom: 8px; }

label {
  font-size: 1.2em;
  line-height: 1.5;
  margin-top: 8px;
  margin-bottom: 0; }

select,
select[multiple],
select[size],
textarea,
input[type="text"],
input[type="password"],
input[type="email"] {
  display: inline-block; }

label {
  display: inline-block;
  width: 100%;
  clear: both; }

.form .form-inline label {
  width: auto;
  margin-right: 8px; }
.form .form-inline input, .form .form-inline select, .form .form-inline textarea, .form .form-inline label {
  display: inline; }
.form .form-inline label + select,
.form .form-inline label + input {
  margin-top: 0;
  margin-bottom: 0; }

.form {
  padding-bottom: 8px;
  margin-bottom: 8px;
  /*label*/
  /*label*/ }
  .form input[type="text"], .form input[type="password"], .form input[type="email"] {
    width: 100%; }
  .form .input-error {
    font-size: 0.8125em;
    color: #e51c23;
    margin: 0; }
  .form .help-text {
    font-size: 1em;
    margin: 0; }
  .form .action-text {
    border: 0;
    background: transparent;
    font-size: 16px;
    color: #2196F3;
    text-decoration: underline; }
  .form .btn-submit {
    margin-top: 16px;
    margin-bottom: 16px; }

.form input[type="radio"] {
  display: none;
  /*checked時の見た目*/ }
  .form input[type="radio"] + label {
    display: inline-block;
    cursor: pointer;
    /*通常時の見た目*/ }
    .form input[type="radio"] + label::before {
      width: 24px;
      height: 24px;
      display: inline-block;
      content: "";
      border-radius: 17px;
      vertical-align: middle;
      border: 2px solid #333;
      background-color: #fff;
      margin: -2px 5px 0 0; }
  .form input[type="radio"]:checked + label {
    color: #2196F3;
    cursor: default; }
    .form input[type="radio"]:checked + label::before {
      border-color: #2196F3;
      background-color: #2196F3;
      box-shadow: inset 0 0 0 4px #fff; }

.form input, .form textarea, .form select {
  border-top: 0px;
  border-right: 0px;
  border-left: 0px;
  border-bottom: 1px #666 solid;
  padding-bottom: 3px;
  font-size: 1.2em;
  color: #111111; }
  .form input:focus, .form textarea:focus, .form select:focus {
    border-bottom: #2196F3 solid; }

.row {
  overflow: hidden;
  padding: 0 16px; }

.row--a {
  background: #e51c23; }

.social-buttons {
  text-align: center;
  margin: 10px 0 0;
  padding: 0; }

.social-buttons li {
  padding-left: 5px;
  line-height: 20px; }

.fb_iframe_widget {
  vertical-align: middle; }

header {
  border-top: 8px #0778CD solid;
  background: url("../images/bg_header_wf.png") center center;
  background-size: cover;
  font-family: 'Raleway', sans-serif; }
  header .name {
    font-size: 72px;
    font-size: 4.5rem;
    margin-top: 218px;
    font-family: 'Raleway', sans-serif;
    font-weight: bold; }
  header .main-nav {
    margin: 0;
    padding: 0;
    border: 0;
    overflow: hidden;
    *zoom: 1;
    margin: 0;
    padding: 0;
    font-size: 18px;
    font-size: 1.125rem; }
    header .main-nav li {
      list-style-image: none;
      list-style-type: none;
      margin-left: 0;
      display: inline-block;
      vertical-align: middle;
      *vertical-align: auto;
      *zoom: 1;
      *display: inline;
      white-space: nowrap; }
    header .main-nav a:hover {
      text-decoration: underline; }
    header .main-nav li:after {
      content: "｜"; }
    header .main-nav li:last-of-type:after {
      content: ""; }
  header .skill-list {
    margin: 0;
    padding: 0;
    border: 0;
    overflow: hidden;
    *zoom: 1;
    margin-top: 88px;
    margin-bottom: 83px;
    padding: 0; }
    header .skill-list li {
      list-style-image: none;
      list-style-type: none;
      margin-left: 0;
      display: inline-block;
      vertical-align: middle;
      *vertical-align: auto;
      *zoom: 1;
      *display: inline;
      white-space: nowrap; }
  header .skill-item {
    margin-right: 58px; }
    header .skill-item:last-of-type {
      margin-right: 0; }
    header .skill-item .skill-img {
      border: #979797 1px solid;
      border-radius: 102px; }
    header .skill-item .skill-name {
      display: block;
      font-size: 24px;
      font-size: 1.5rem;
      margin-top: 24px; }
  header:after {
    content: "";
    background: -webkit-linear-gradient(top, transparent 0%, rgba(156, 156, 156, 0) 75%, #d0d0d0 100%);
    background: linear-gradient(to bottom, transparent 0%, rgba(156, 156, 156, 0) 75%, #d0d0d0 100%);
    /* W3C */
    display: block;
    height: 26px; }

.container {
  background-color: #fff;
  padding: 30px 60px 30px 60px; }

.mod-works {
  margin-bottom: 48px; }
  .mod-works .works-slideshow img {
    border: solid #979797 1px; }
  .mod-works .works-title {
    font-size: 32px;
    font-size: 2rem;
    line-height: 1;
    margin-top: 24px;
    margin-bottom: 14px; }
  .mod-works .works-content {
    font-size: 24px;
    font-size: 1.5rem;
    color: #666666; }

.works-slideshow {
  width: 100%;
  position: relative; }

.slider {
  list-style-image: none;
  list-style-type: none;
  margin-left: 0;
  position: relative;
  margin: 0;
  padding: 0; }

.slider img {
  min-width: 100%; }

.slider > .slide {
  display: none; }

.slider > .active-slide {
  display: block; }

.works-slideshow .arrow-prev, .works-slideshow .arrow-next {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  font-size: 3rem;
  text-decoration: none;
  color: #fff;
  background-color: transparent;
  background-color: rgba(0, 0, 0, 0.7);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#B3000000,endColorstr=#B3000000);
  zoom: 1;
  cursor: pointer;
  padding: 10px 20px 10px 20px;
  border-radius: 6px; }

.works-slideshow .arrow-prev {
  left: 10px; }

.works-slideshow .arrow-next {
  right: 10px; }

footer {
  background-color: #fff;
  margin-bottom: 16px; }
  footer .slogan {
    color: #f3f3f3;
    display: inline-block;
    margin-right: 20px; }

address {
  display: inline-block;
  font-style: normal;
  font-size: 18px;
  font-size: 1.125rem; }
